

body {
	background-image: url("theta.png");
	background-color: gray;
	background-size: 150px;
	font-family: serif;
	width: 90%;
	margin: 0 auto;
}

.title-box {
	text-align: center;
	background-color: white;
	border: 10px;
	border-style: solid;
	border-color: gray;
}

.group-container {
	display: block;
	overflow: auto;
	margin: auto;
	background-color: white;
	border: 10px;
	border-style: solid;
	border-color: gray;
}

.group {
	display: inline;
	float: left;
	text-align: center;
	padding: 5px;
	margin: 0 15px;
}

.lazer {
	background: url("lazer.jpg") no-repeat;
	background-size: 150px;
}

button {
	color: black;
	padding: 5px;
	border-radius: 3px;
	background-color: gray;
	margin: 5px;
	font-size: 15px;
	width: 40px;
}

button.refresh {
	width: 80px;
	font-size: 20px;
	font-weight: bolder;
}

button.active {
	background-color: #555555;
}

.button-holder, .refresh-holder {
	text-align: center;
}

button:hover,button:focus {
	background-color: #555555;
}


​

​
